TELEGRAM_APITOKEN:
INFLUX_URL:
INFLUX_USERNAME:
INFLUX_PASSWORD:
REDIS_URL: redis:6379
F_GIFS:
  - "CgACAgQAAxkDAAICwV8OGMI82ihJ2TdT1DbOpN-Y6LAhAAJTAgACsVF1UMple_dE1G2gGgQ"
  - "CgACAgQAAxkDAAICxF8OGYMyli39LLFSGg7j0bcEuzlvAAI2AgACU890UJjyuqLOaUO2GgQ"
  - "CgACAgQAAxkDAAICxV8OGaA1JaE1qecjQwEK1W0j95K-AAIOAgACjjx1UJzQUVFUf11CGgQ"
  